

<% if user_signed_in? %>
	 
	     <li class="has-dropdown">
	      <a class="active" href="#"><%= current_user.username %></a>
	        <ul class="dropdown">	          
	          <li><%= link_to 'Edit profile', edit_user_registration_path,style: 'color:white;' %></li>
	          <li><%= link_to "Logout", destroy_user_session_path, method: :delete,style: 'color:white;' %></li>	          
	        </ul>
	    </li>

	 
<% else %>
 <%#= link_to "Sign up", new_user_registration_path %> |
 <%#= link_to "Login", new_user_session_path %>

  <li style='color:white;margin-top:10px'><span>Sign in through</span></li> 
 	<li><%= link_to image_tag("twitter-icon.png", :border => 0, :size=>'35x35'), user_omniauth_authorize_path(:twitter), style: 'color:white;' %></li>
    <!-- <li class='divider'></li> -->
    <li><%= link_to image_tag("instagram_icon.png", :border => 0, :size=>'35x35'), user_omniauth_authorize_path(:twitter), style: 'color:white;' %></li>
    <!-- <li class='divider'></li> -->
    <li><%= link_to image_tag("google-icon.ico", :border => 0, :size=>'35x35'), user_omniauth_authorize_path(:twitter), style: 'color:white;' %></li>
 

<% end %>


