<h1>Listing twitterposters</h1>

<table>
  <thead>
    <tr>
      <th>Twitter</th>
      <th>Screen name</th>
      <th>Poster</th>
      <th>Profile Image</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @twitterposters.each do |twitterposter| %>
      <tr>
        <td><%= twitterposter.user_id %></td>
        <td><%= twitterposter.screen_name %></td>
        <td><%= twitterposter.artist.artist_name %></td>
        <td><%= image_tag twitterposter.profile_image %></td>
        <td><%= link_to 'Show', admin_twitterposter_path(twitterposter) %></td>
        <td><%= link_to 'Edit', edit_admin_twitterposter_path(twitterposter) %></td>
        <td><%= link_to 'Destroy', admin_twitterposter_path(twitterposter), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Twitterposter', new_admin_twitterposter_path %>
